@model RegisterVM
@{
    Layout = "_AuthLayout";
}

<div class="login-container">

    <form asp-action="Register" method="post" class="login-form">
        
        @Html.ValidationSummary();

        <div class="input-group">
            <input asp-for="Email" type="text" placeholder="Email" required>
            <span style="color:red" asp-validation-for="Email" ></span>
        </div>

        <div class="input-group">
            <input asp-for="Password" type="password" placeholder="Password" required>
            <span style="color:red" asp-validation-for="Password" ></span>
        </div>

        <div class="input-group">
            <input asp-for="RePassword" type="password" placeholder="Password" required>
            <span style="color:red" asp-validation-for="RePassword" ></span>
        </div>

        <button type="submit">Register</button>

        <div class="bottom-text">
            <p>Already have an account? <a asp-action="Login">Login</a></p>
        </div>

    </form>

</div>